@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin position($position, $top, $bottom, $left: 0, $right: 0) {
    position: $position;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}